<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Glegoo|Karma" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="myCtrl">
    <header>
        <h1 class="title">{{ config.title }}</h1>
        <h2 class="subtitle">रा. पंजी. सं. -एस/१८०१/२०१७</h2>
        <nav>
            <div></div>
            <ul id="menu">
                <li ng-repeat="x in config.navValues" onclick="navOptionClicked()">
                    {{ x }}
                </li>
            </ul>
            <a href="javascript:void(0);" class="icon" id="hamburger" onclick="navClicked()">
                    <i class="fa fa-bars"></i>
                  </a>
        </nav>
    </header>
    <section class="content">
        <h3 class="subheading">अक्टूबर २०१८</h3>
        <ul>
            <li>
                <a target="_blank" href="https://drive.google.com/file/d/12DfaT_BeDFG1xy0PtLSND8WefA9sGOmA/view">
                    छंदेष्टि माह अक्टूबर २०१८
                </a>
            </li>
            <li>
                <a target="_blank" href="https://drive.google.com/file/d/1zNflkMVzjPcNd0rwk0-3pgEg9Pdc_BDD/view">
                    अविचल प्रभा वर्ष-२ अंक-१४ माह-अक्टूबर
                </a>
            </li>

            <li>
                <a target="_blank" href="https://drive.google.com/file/d/1YZT8m5-yEkcdN7RKKp6_IT0kENjYj7LL/view">
                    सवेरा माह-अक्टूबर २०१८
                </a>
            </li>
        </ul>
        <h3 class="subheading">सितम्बर २०१८</h3>
        <ul>
            <li>
                <a target="_blank" href="https://drive.google.com/file/d/1zwaaVICOzidJXHNuT8ysTMG94VBz_u3J/view">
                    ग़ज़ल गुंजन माह-सितम्बर
                </a>
            </li>
        </ul>
    </section>
    <section class="addLink">
        Label: <input type="text" />
        Link URL: <input type="text" />
    </section>
    <footer>
        <section class="people">
            <section ng-repeat="person in config.people" class="person">
                <p>{{ person.name }}</p>
                <p>{{ person.title }}</p>
            </section>
        </section>
    </footer>
    <script src="main.js"></script>
</body>

</html>