<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Glegoo|Karma" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="app" ng-controller="myCtrl">
    <header>
        <h1 class="title">{{ config.title }}</h1>
        <h2 class="subtitle">रा. पंजी. सं. -एस/१८०१/२०१७</h2>
        <nav>
            <div></div>
            <ul id="menu">
                <li ng-repeat="value in config.navValues">
                    <a href="#!{{value.url}}">{{ value.text }}</a>
                </li>
            </ul>
            <a href="javascript:void(0);" class="icon" id="hamburger" onclick="navClicked()">
                    <i class="fa fa-bars"></i>
                  </a>
        </nav>
    </header>
    <section ng-view class="content"></section>
    
    <footer>
        <section class="people">
            <section ng-repeat="person in config.people" class="person">
                <p>{{ person.name }}</p>
                <p>{{ person.title }}</p>
            </section>
        </section>
    </footer>
    <script src="main.js"></script>
</body>

</html>